@model FrostFlow.Models.Room

<h2>Calculation Result</h2>
<p>Length: @Model.Length feet</p>
<p>Width: @Model.Width feet</p>
<p>Height: @Model.Height feet</p>
<p>Required Cooling Capacity: @Model.BTU BTUs</p>
<a asp-action="Index">Back</a>