@model FrostFlow.Models.AirConditioner

<link rel="stylesheet" href="~/css/AirConditionerCreate.css" asp-append-version="true" />

@{
	ViewData["Title"] = "Add New Air Conditioner";
}

<h2>Add New Air Conditioner</h2>

<form asp-action="Create">
	<div class="form-group">
		<label asp-for="ModelName" class="control-label"></label>
		<input asp-for="ModelName" class="form-control" />
		<span asp-validation-for="ModelName" class="text-danger"></span>
	</div>

	<div class="form-group">
		<label asp-for="Brand" class="control-label"></label>
		<input asp-for="Brand" class="form-control" />
		<span asp-validation-for="Brand" class="text-danger"></span>
	</div>

	<div class="form-group">
		<label asp-for="Price" class="control-label"></label>
		<input asp-for="Price" type="number" class="form-control" />
		<span asp-validation-for="Price" class="text-danger"></span>
	</div>

	<div class="form-group">
		<label asp-for="Description" class="control-label"></label>
		<textarea asp-for="Description" class="form-control"></textarea>
	</div>

	<div class="form-group">
		<label asp-for="Type" class="control-label"></label>
		<input asp-for="Type" class="form-control" />
		<span asp-validation-for="Type" class="text-danger"></span>
	</div>

	<div class="form-group">
		<label asp-for="CoolingCapacity" class="control-label"></label>
		<input asp-for="CoolingCapacity" type="number" class="form-control" />
		<span asp-validation-for="CoolingCapacity" class="text-danger"></span>
	</div>

	<button type="submit" class="btn btn-primary">Save</button>
</form>
